* {background-color: white; text-align: center; font-family: helvetica;}

h1 {font-weight: bold; font-size: 70px; color: white;}

h2 {font-weight: normal;; font-size: 18px; color: white;}

h3 {font-weight: bold; font-size: 32px; color: white;}

h4 {font-weight: bold; font-size: 23px; color: black;}

p {font-size: 14px; color: black;}

a {color: aquamarine; font-size: 16px;}

.header {background-image: image(the-flatiron-building.png);}

.designed {background-image:image(the-flatiron-building.png);}

.footer {font-size: 11px; color: white; text-align: left; background-color: dimgray;}
